h1{
  text-align:center;
  border-color: #16b71e;
  border-style: groove;
  font-family: 'Times New Roman', Times, serif
}
body{
  font-family: sans-serif;
  text-align: left;
  background-color: aliceblue;
  color: rgb(20, 74, 20);
  accent-color: black;
  filter: drop-shadow(10px 10px 8px grey);
}

button {
  border-radius: 5px;
  background-color: #0e6344; /* Green */
  border: none;
  color: #0e6344;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}